<section id="what" class="channel">
  <h2>What</h2>
  <p>Search for hashtags, view a steam of photos based on that topic.</p>
  <p>Or, just check out some <a href="/channel/tags/cat">real-time cats</a>.</p>
  <form action="/search/tags" method="post">
    <fieldset>
      <label for="cause" class="text">
        <span>Keyword</span>
        <input type="text" name="value" class="value" />
      </label>
    </fieldset>
    <fieldset class="controls">
      <input type="submit" value="Find" />
    </fieldset>
  </form>
  <div id="results">
    
  </div>
</section>

<section id="where" class="channel">
  <h2>Where</h2>
  <p>Three very basic examples of how the location-based real-time subscriptions could be used.</p>
  
  <h3>Photographs near me</h3>
  <p>We're tring to geolocate you... If this works, you're lat and lng will appear below, if this fails, try typing in them in manually.</p>
   <form action="/channel/geographies/" method="post">
     <fieldset>
       <label for="lat">
         <span>Latitude</span>
         <input type="text" name="lat" id="lat" />
       </label>
       <label for="lng">
         <span>Longitude</span>
         <input type="text" name="lng" id="lng" />
       </label>
       <input type="hidden" name="radius" id="radius" value="50" />
     </fieldset>
     <fieldset class="controls">
       <input type="submit" value="Show photographs" />
     </fieldset>
   </form>

  <h3>Photographs for a location</h3>
  <form action="/channel/geographies/" method="post">
    <fieldset>
      <label for="address" class="text">
        <span>City or address</span>
        <input type="text" name="address" />
      </label>
      <label for="radius" class="text">
        <span>Radius (for a city, you probably want something like 5000, for an park, 500, for an office, 100 should do)</span>
        <input type="text" name="radius" value="1000" />
      </label>
    </fieldset>
    <fieldset class="controls">
      <input type="submit" value="Show photographs" />
    </fieldset>
  </form>

  <h3>Photographs for a 'place'</h3>
  <p>Places are based on check-in locations on Foursquare.</p>
  <ul class="list">
    <li><a href="/channel/locations/271198/">Made by Many</a></li>
    <li><a href="/channel/locations/502494/">National Museum of Scotland</a></li>
  </ul>
  
  <h3>Weather</h3>
  <form action="/channel/weather/" method="post">
    <fieldset>
      <label for="address" class="text">
        <span>Address or city</span>
        <input type="text" name="address" />
      </label>
    </fieldset>
    <fieldset class="controls">
      <input type="hidden" name="radius" value="5000" />
      <input type="submit" value="What's the weather like?" />
    </fieldset>
  </form>
  
</section>

<section id="who" class="channel">
  <h2>Who</h2>
  <p>A real-time stream of users who have previously authenticated themselves with this application.</p>
  <h3>Authorised Users</h3>
  <p class="cta">You can <a href="<%= authorization_url %>">add yourself</a> to this list</p>
  <ul id="users" class="list">
    <% for(i in authenticated_users) {
      user_data = JSON.parse(authenticated_users[i])
    %>
    <li><a href="/channel/users/<%= user_data.user.username %>"><%= user_data.user.username %></a></li>
    <% } %>
  </ul>
</section>

