<!DOCTYPE html>
<html>
	<head>
		<title>Insta-platform</title>
		<link rel="stylesheet" href="/static/styles/reset.css" type="text/css" />
		<link rel="stylesheet" href="/static/styles/master.css" type="text/css" />
		<script src="/socket.io/socket.io.js" type="text/javascript"></script>
		<script src="/static/scripts/jquery-1.5.min.js" type="text/javascript"></script>
		<script src="/static/scripts/global.js" type="text/javascript"></script>
		<script src="/static/scripts/modernizr.js" type="text/javascript"></script>
	</head>
	<body>
		<div id="platform">
		  <header>
		    <h1><a href="/">Insta-platform</a></h1>
		    <p>Make real-time Instagr.am apps</p>
		  </header>
		  <section id="primary-content">
			  <%- body %>
			</section>
	  </div>
	</body>
</html>