<ul class="append-live-data" data-subscription="channel:group:madebymany">
<% for(var i=0; i<media.length; i++) { %>
  <li id="media-<%= media[i].id %>"><a href="<%= media[i].link %>"><img src="<%= media[i].images.standard_resolution.url %>" /></a></li>
<% } %>
</ul>